
<div class="container-fluid" id="login" >


  <div class="container">

    <div class="row">
      <a href="" >还没有账号?点我立即去注册</a>
      <div class="col-md-4 col-md-offset-4" style="border: 1px solid #cccccc ;border-radius: 5px;margin-top: 10px">
        <form>
          <div class="form-group">
            <label for="username">username</label>
            <input v-model="loginForm.username" type="text" name="username" class="form-control" id="username" placeholder="请输入用户名">
          </div>
          <div class="form-group">
            <label for="password">password</label>
            <input v-model="loginForm.password" type="password" name="password" class="form-control" id="password" placeholder="请输入密码">
          </div>

          <div class="form-group">
            <label for="code">验证码</label>
            <input v-model="loginForm.code" type="text" name="code" class="form-control" id="code" placeholder="请输入验证码">
            <a @click.prevent="refreshKaptchaCode"><img src="/user/getKaptchaCode" alt="..." id="codeImg" />点击刷新</a>
          </div>

          <button @click.prevent="toLogin" class="btn btn-success">登 录</button>
        </form>
      </div>
    </div>

  </div>



</div>
